.chat
  .header
    .header__left
      %h2.header__left__group
        = @group.name
      %ul.header__left__member
        Member：
        %li.header__left__member__name
        = @member
          
    .header__edit
      = link_to edit_group_path(current_user), class: "header__edit__btn" do
        Edit

  .main
    = render @messages

  .messege-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__input', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__file'
      = f.submit 'Send', class: 'send'
        