.sidebar
  .side-header
    .side-header__box
      %p.side-header__box__user
        = current_user.name
      %ul.side-header__box__icon
        = link_to "#", class: "side-header__box__icon__edit" do
          = icon('fas', 'edit', class: "side-header__box__icon__btn")
        = link_to edit_user_path(current_user), class: "side-header__box__icon__edit" do
          = icon('fas', 'cog', class: "side-header__box__icon__btn")

  .group
    .group__box
      %p.group__box__name
        saru
      %p.group__box__messege
        banana