.sidebar
  .side-header
    .side-header__box
      %p.side-header__box__user
        = current_user.name
      %ul.side-header__box__icon
        = link_to new_group_path, class: "side-header__box__icon__edit" do
          = icon('fas', 'edit', class: "side-header__box__icon__btn")
        = link_to edit_user_path(current_user), class: "side-header__box__icon__edit" do
          = icon('fas', 'cog', class: "side-header__box__icon__btn")

  .group
    - current_user.groups.each do |group|
      .group__box
        = link_to group_messages_path(group) do
          .group__box__name
            = group.name
          .group__box__messege
            = group.show_last_message